#division{
  text-align: left;
  border: 1px;
  border-top-color: : white;
  border-right-color: white;
  border-left-color : white;
  border-bottom-style: solid;
  border-bottom-color: #EBEBE0;
}

.col-md-4{
  padding: 50px;
  width: 300 px;
}

h1{
  color: #ADAD85;
  text-shadow: 3px 3px 2px #DEDECE;
}
