<h1 align="center">Where Would You Like To Go?</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="dropdown" >
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">From
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" >
          <!-- <li role="presentation"><a id ="division" ng-repeat= "item in guests" ui-sref="item.guest({guestId: item.id})"role="menuitem" tabindex="-1" ><br>{{item.num}} {{item.guest}}</a></li> -->
          <li role="presentation"><a id ="division" ui-sref="item.guest({guestId: item.id})"role="menuitem" tabindex="-1" ng-repeat= "item in guests"><br>{{item.guest}}</a></li>

        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="dropdown" >
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">From
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" >
          <li role="presentation"><a id ="division" ui-sref="item.departure({departureId: item.id})"role="menuitem" tabindex="-1" ng-repeat= "item in departures"><br>{{item.departure}}</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="dropdown" >
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">To
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" >
          <li role="presentation"><a id ="division" ui-sref="item.departure({destinationId: item.id})"role="menuitem" tabindex="-1" ng-repeat= "item in destinations"><br>{{item.destination}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
